.app {
}

.title {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: justify;

  margin-top: 5%;
}

.subtitle-1 {
  color: #818181;
  font-size: 15px;
}

.subtitle-2 {
    margin-top: 3px;
  color: black;
  font-size: 20px;
}

.texto{
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
  
}

.paragrafo-1 {
  color: #818181;
  font-size: 12px;
  text-align: justify;
  margin-top: 20px;
}

.border-one{

}